In [33]:
import re   
import nltk   
import string 
import warnings 
import numpy as np 
import pandas as pd

from nltk.stem.porter import PorterStemmer

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\T-Gamer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [24]:
''' Leitura do data-set e nomenclatura das colunas. '''
df = pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='latin-1')

columns_names = ['target', 'ids', 'date', 'flag', 'user', 'tweet']
df.columns = columns_names

df.drop(['ids', 'date', 'flag', 'user'], axis=1, inplace=True)

df.head()

   target                                              tweet
0       0  is upset that he can't update his Facebook by ...
1       0  @Kenichan I dived many times for the ball. Man...
2       0    my whole body feels itchy and like its on fire
3       0  @nationwideclass no, it's not behaving at all....
4       0                      @Kwesidei not the whole crew

In [25]:
''' Extraindo duas partições de dados, uma com 25.000 tweets não-depresivos e outra com 2000 tweets depresivos respectivamente. '''
positive_data = df[df.target == 4].iloc[:25000,:]
negative_data = df[df.target == 0].iloc[:2000,:]

df = pd.concat([positive_data, negative_data], axis=0)

df.head()

        target                                              tweet
799999       4       I LOVE @Health4UandPets u guys r the best!!
800000       4  im meeting up with one of my besties tonight! ...
800001       4  @DaRealSunisaKim Thanks for the Twitter add, S...
800002       4  Being sick can be really cheap when it hurts t...
800003       4    @LovesBrooklyn2 he has that effect on everyone

In [40]:
''' Limpando os tweets, removendo caracteres comuns, stopwords e simplificando as palavras restantes. '''
stemmer = PorterStemmer() 

stopwords = nltk.corpus.stopwords.words('english')
remove_stopwords_cb = lambda tweet: ' '.join([word for word in tweet.split() if word not in stopwords])
  
df['clean_tweet'] = df['tweet'].str.replace('@', '') 
df['clean_tweet'] = df['clean_tweet'].str.replace(r'http\S+', '')
df['clean_tweet'] = df['clean_tweet'].apply(lambda tweet_item: remove_stopwords_cb(tweet_item.lower()))
df['clean_tweet'] = df['clean_tweet'].apply(lambda tweet_item: tweet_item.split())
df['clean_tweet'] = df['clean_tweet'].apply(lambda tweet_item: [stemmer.stem(word) for word in tweet_item])
df['clean_tweet'] = df['clean_tweet'].apply(lambda tweet_item: ' '.join([word for word in tweet_item]))
df['clean_tweet'] = df['clean_tweet'].apply(lambda tweet_item: ' '.join([word for word in tweet_item.split() if len(word) > 3]))

df.head()

C:\Users\T-Gamer\AppData\Local\Temp\ipykernel_9996\3572774554.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df['clean_tweet'] = df['clean_tweet'].str.replace(r'http\S+', '')

,target,tweet,clean_tweet
799999,4,I LOVE @Health4UandPets u guys r the best!!,love health4uandpet best!!
800000,4,im meeting up with one of my besties tonight! ...,meet besti tonight! cant wait!! girl talk!!
800001,4,"@DaRealSunisaKim Thanks for the Twitter add, S...","darealsunisakim thank twitter add, sunisa! mee..."
800002,4,Being sick can be really cheap when it hurts t...,"sick realli cheap hurt much real food plus, fr..."
800003,4,@LovesBrooklyn2 he has that effect on everyone,lovesbrooklyn2 effect everyon